<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type='button' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%=sitename%>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% for(var i=0; i<pages.length; i++) {%>
          <li>
          <% var hasChildren = pages[i].hasChildren; %>
            <a href="<%=pages[i].path %>" class="<%=hasChildren ? 'dropdown-toggle' : '' %>" <%=hasChildren ? 'data-toggle="dropdown"' : '' %> >
              <%=pages[i].name %>
            </a>
          </li>
        <% } %>
      </ul>
      
    </div>
  </div>
    
</div>